*count_schizophrenia_drugs_patiens_beta2agonists.R
*count_beta2agon_inpatients_with_asthma.R
*count_schizophrenia_drugs_patiens_beta2agonists_excldPulmon.R
*.swp
*count_schizophrenia_drugs_patiens_beta2agonists_PrimaryDiagnosis.R
*~$*.xlsx
.DS_Store
supplemental_files_for_submission/All_SF_files_050622.zip
